language: python
python:
  - "2.7"
  - "3.6"

env:
  - DJANGO_VERSION=">=1.8,<1.9"
  - DJANGO_VERSION=">=1.9,<1.10"
  - DJANGO_VERSION=">=1.10,<2.0"
  - DJANGO_VERSION=">=2.0"
  
matrix:
  exclude:
  - python: "2.7"
    env: DJANGO_VERSION=">=2.0"

install:
  - pip install -q Django$DJANGO_VERSION

script: python tests.py
